@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index_8</title>
</head>
<body>
    <div>
        <img src="@Url.Content("~/Images/审查列表页.png")"
    </div>
</body>
</html>
