@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index_6</title>
<body>
<img src="@Url.Content("~/Images/客户管理.png")" />
</body>
</html>
